/* all other stylesheets have been incorporated into this one */

/* See settings/theme-settings.js for definition of --theme-* properties */

:root {
    --cell-max-height-scrolling: 33vh;
}

body {
    overflow: hidden;  /* inhibit scrolling for body */
    margin: 0;
    color:            var(--theme-by-fgc);
    background-color: var(--theme-by-bgc);
}

header {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    height: var(--theme-hd-h);
    background-color: var(--theme-hd-bgc);

    border: 0px solid var(--theme-hd-bdc);
    border-bottom-width: 1px;
}

main {
    /* enable scrolling for main element */
    overflow: auto;
    max-height: calc(100vh - var(--theme-hd-h));
    max-width:  100vw;
}
main > xb-cell {
    margin: var(--theme-cl-p-inter) 0;
}

.xb-cell-output {
    display: block;
    overflow: auto;  /* enable h/v scrolling */
    height: fit-content;
    padding: 0 var(--theme-ou-p) 0 var(--theme-ou-p);
    color:            var(--theme-ou-fgc);
    background-color: var(--theme-ou-bgc);
}
.xb-cell-output:empty,
.xb-cell-output:not(:has(> *:not(:empty))) {
    display: none;
}
.xb-cell-output p,
.xb-cell-output h1,
.xb-cell-output h2,
.xb-cell-output h3,
.xb-cell-output h4,
.xb-cell-output h5,
.xb-cell-output h6,
.xb-cell-output h7,
.xb-cell-output h8,
.xb-cell-output h9 {
    /* eliminate spacing for empty output case */
    margin-block-start: 0;
    margin-block-end:   0;
}
.xb-cell-output .katex-display {
    /* eliminate spacing for empty output case */
    margin: 0;
}
.xb-cell-output .katex-display .katex-html:not(:empty) {
    /* add spacing back to more interior element for "display" output */
    margin: 1rem 0;
}

.plain-text {
    white-space: pre-wrap;  /* display white-space properly */
    line-height: 125%;
}

xb-cell {
    --content-color: lightgrey;

    overflow: hidden;

    display: block;
    margin:  0;

    caret-color: var(--theme-cl-ctc);
    /*outline: 0px solid transparent;*/  /* disable default contenteditable outline */

    white-space: pre-wrap;  /* properly display white-space */
    font-family: monospace;

    color: var(--theme-cl-fgc);
/*    background-color: var(--content-color); */
    background-image: linear-gradient(90deg, var(--content-color), transparent);

    max-height: fit-content;
    padding: 0;
    border: 1px solid var(--content-color);
    border-radius: var(--theme-cl-bdr);
    border-style:  var(--theme-cl-bds);
}
xb-cell > * {
    /* make sure --content-color is restricted to border and padding,
     * and does not bleed through transparent children
     */
    background-color: var(--theme-cl-bgc);
}

xb-cell::before {
    content: "markdown";  /* markdown is the default */
    display: inline-block;
    padding: 0 0 0 0.5em;
    max-width: fit-content;
}
xb-cell[data-type]::before {
    content: attr(data-type);
}
xb-cell[data-active][data-type]::before {
    font-weight: bold;
}

xb-cell,  /* markdown is the default */
xb-cell[data-type="markdown"] {
    --content-color: var(--theme-ty-bgc-markdown);
}
xb-cell[data-type="plain"] {
    --content-color: var(--theme-ty-bgc-plain);
}
xb-cell[data-type="tex"] {
    --content-color: var(--theme-ty-bgc-tex);
}
xb-cell[data-type="javascript"] {
    --content-color: var(--theme-ty-bgc-javascript);
}

/* html[data-cell-view]: none|hide|normal|full|kiosk
 * - none:   cells are not displayed
 * - hide:   cells auto-hide; focused cell scrolls, other cells minimized
 * - normal: all cells scroll (default)
 * - full:   all cells shown completely
 * - kiosk:  like none, but also the header element is hidden and no document close warning is issued
 *   -- in kiosk mode, cells with css class "show-in-kiosk" will be shown as in "normal" mode
 */

html[data-cell-view="none"] xb-cell {
    display: none;
}
html[data-cell-view="hide"] xb-cell:not([data-active]) {
    display: block;
    max-height: 0.2rem;
    border-width: 1px;
    border-color: black;
    padding: 0;
    margin: 0.2rem;
}
html[data-cell-view="kiosk"] header {
    display: none;
}
html[data-cell-view="kiosk"] xb-cell {
    display: none;
}
xb-cell,
html[data-cell-view="kiosk"] xb-cell.show-in-kiosk {
    display: block;
    max-height: calc(var(--cell-max-height-scrolling) + 2rem);  /* pad for margin, etc */
    transition: max-height 0.5s cubic-bezier(.68,-0.55,.27,1.55);
}


/* === codemirror === */

/* scroll long content unless html[data-cell-view="full"] */
/* see: https://discuss.codemirror.net/t/code-editor-with-automatic-height-that-has-a-minimum-and-maximum-height/4015 */
.cm-editor {
    max-height: var(--cell-max-height-scrolling);
}
.cm-scroller {
    overflow-y: auto;
}

/* show full content if html[data-cell-view="full"] */
html[data-cell-view="full"] xb-cell,
html[data-cell-view="full"] .cm-editor,
html[data-cell-view="full"] .cm-scroller {
    overflow-y: hidden;
    max-height: unset;
    height: 100%;
}

/* line number switch */
.codemirror-hide-line-numbers .cm-lineNumbers {
    display: none !important;  /* must use !important to override codemirror's !important setting */
}

/* patch too-bright light-mode .activeLine color */
:root:not([data-theme="dark"]) .cm-activeLine {  /* :root:not(---) for specificity */
    background-color: hsl(200deg 100% 93% / 27%) !important;  /* otherwise overly light */  /* must use !important to override codemirror's !important setting */
}

/* patches for CodeMirror colors in dark mode */
:root[data-theme="dark"] .cm-gutters {
    background-color: revert !important;  /* otherwise glaringly light */  /* must use !important to override codemirror's !important setting */
}
:root[data-theme="dark"] .cm-activeLine {
    background-color: hsl(200deg 100% 12% / 27%);  /* otherwise glaringly light */
}
:root[data-theme="dark"] .cm-editor .cm-cursor {
    border-left-color: orange;  /* too dim */  /* see: https://discuss.codemirror.net/t/caret-color-css-seems-locked/7011/5 */
}
@media (prefers-color-scheme: dark) {
    .cm-gutters {
        background-color: revert !important;  /* otherwise glaringly light */  /* must use !important to override codemirror's !important setting */
    }
    .cm-activeLine {
        background-color: hsl(200deg 100% 12% / 27%);  /* otherwise glaringly light */
    }
    .cm-editor .cm-cursor {
        border-left-color: orange;  /* too dim */  /* see: https://discuss.codemirror.net/t/caret-color-css-seems-locked/7011/5 */
    }
}


/* theme-aware graphics */

[data-source-media-type="application/graphviz"] svg polygon:not([fill="none"]) {
    fill: var(--theme-gr-bgc);
}
[data-source-media-type="application/graphviz"] svg polygon:not([stroke="none"]) {
    stroke: var(--theme-gr-fgc);
}
[data-source-media-type="application/graphviz"] svg path,
[data-source-media-type="application/graphviz"] svg ellipse {
    stroke: var(--theme-gr-fgc);
}
[data-source-media-type="application/graphviz"] svg text {
    fill: var(--theme-gr-fgc);
}


/* === menu === */

.menu:not(.active) {
    display: none;
}

.menubar {
    user-select: none;
    margin: 0;
    padding: 0.1rem 0 0.1rem 0;
    background-color: var(--theme-mu-bgc);
}

.menubar > li {
    user-select: none;
    display: inline;  /* horizontal orientation for top-level items of menubar */
    padding: 0 0.5rem 0 0.5rem;
}

.menubar .menuitem {
    user-select: none;
    list-style-type: none;
    min-width: max-content;
}

.menuitem * {
    user-select: none;
}

.menuitem .menuitem-label {
    font-family: sans-serif;
    font-size: 90%;
}

.menubar .menuitem.checked::before {
    content: "\2713";  /* unicode check mark */
    position: absolute;
    left: 0.5em;
}

.menubar div {
    display: inline;
}

.menu {
    position: absolute;
    z-index: 999;
    background-color: var(--theme-mu-bgc);
    padding: 0.25rem 0 0.25rem 0;  /* override standard ul/li padding */
    border-radius: 0.25rem;
    border: 1px solid var(--theme-mu-bdc);
    box-shadow: 3px 3px 16px var(--theme-mu-shc);

    /* eliminate default styling for menu elements */
    margin-block-start:   0;
    margin-block-end:     0;
    margin-inline-start:  0;
    margin-inline-end:    0;
    padding-inline-start: 0;
}

.menuitem {
    color: var(--theme-mi-fgc);
}

.menuitem.disabled {
    color: var(--theme-mi-fgc-disabled);
}

.menuitem.selected {
    background-color: var(--theme-mi-bgc-selected);
}

.menu .menuitem:not(.menuitem-separator) {
    padding: 0 0.5rem 0 1.5rem;
}

.menu .menuitem.menuitem-separator {
    margin: 0.2rem 0 0.2rem 0;
    height: 0px;
    color: transparent;
    border-bottom: 1px solid var(--theme-ms-bgc);
}

.menu .menuitem .menuitem-annotation {
    margin-left: 2rem;
    float: right;
}

.menu .menuitem kbd {
    margin: 0 0 0 0.5rem;
}


/* === notification === */

.notification-area {
    pointer-events: none;
    position: absolute;
    inset: 0;
    overflow-y: auto;  /* enable scrollbars */
    display: flex;
    flex-direction:  column;
    justify-content: flex-start;
    align-items:     flex-end;
}

.notification-message {
    max-width: fit-content;
    padding: 0.5em;
    margin:  0.5rem;
    white-space: pre-wrap;
    border: 1px solid black;
    border-radius: 0.25rem;
    color:            var(--theme-nt-fgc);
    background-color: var(--theme-nt-bgc);
}


/* === dialog === */

dialog {
    border-radius: 0.5em;
    box-shadow: 3px 3px 16px grey;
}

dialog .dialog-controls-form-terminals {
    display: flex;
    justify-content: flex-end;
    margin: 1.5em 0 0 0;
}

dialog .dialog-controls-form-terminals button,
dialog .dialog-controls-form-terminals input[type="button"] {
    margin: 0 0 0 0;
}

dialog .dialog-controls-form-terminals .dialog-accept,
dialog .dialog-controls-form-terminals .dialog-decline {
    display: inline;
    margin: 0 0 0 0.5em;
    padding: 0.25em 2em;
}

dialog .dialog-message-text {
    font-weight: bold;
}

dialog .dialog-text {
}


/* === settings-dialog === */

.settings-dialog {
    background-color: var(--theme-st-bgc);
}

.settings-dialog .dialog-text {
    font-style: italic;
}

.settings-dialog [data-section] {
    position: relative;
    display: grid;
    grid-template-columns: min-content min-content;
    min-width: max-content;
    margin: 1.75em 0 0 0;
    padding: 1em 0.5em 0.5em;
    border-radius: 8px;
    border: 1px solid var(--theme-st-bdc-section);
    color:            var(--theme-st-fgc-section);
    background-color: var(--theme-st-bgc-section);
}

.settings-dialog [data-section]::before {  /* named section heading */
    position: absolute;
    content: attr(data-section);
    left: 0.8em;
    top: -0.7em;
    padding: 0 1em;
    border-radius: 4px;
    border: 1px solid var(--theme-st-bdc-section-heading);
    color:            var(--theme-st-fgc-section-heading);
    background-color: var(--theme-st-bgc-section-heading);
    font-style: italic;
}

.settings-dialog [data-section] label {
    align-self: center;
    justify-self: end;
    white-space: nowrap;
    user-select: none;
}

.settings-dialog [data-section] input,
.settings-dialog [data-section] select {
    align-self: center;
    justify-self: start;
    color:            var(--theme-st-fgc-section-setting);
    background-color: var(--theme-st-bgc-section-setting);
    margin: 0.25em;
}

.settings-dialog [data-section] input[type="text"] {
    width: 5em;
}

.settings-dialog .warning {
    display: none;
    width: 13em;
    margin: 1.75em 0 0 1em;
    padding: 0.5em;
    border-radius: 8px;
    border: 1px solid var(--theme-st-bdc-warning);
    color:            var(--theme-st-fgc-warning);
    background-color: var(--theme-st-bgc-warning);
}
.settings-dialog .warning p:first-child {
    margin-block-start: 0;
}
.settings-dialog .warning p:last-child {
    margin-block-end: 0;
}
.settings-dialog .show-emacs-warning .emacs-warning {
    display: block;
}

.settings-dialog .error-message {
    display: none;
    width: 13em;
    margin: 1.75em 0 0 1em;
    padding: 0.5em;
    border-radius: 5pt;
    border: 1px solid var(--theme-st-bdc-error);
    color:            var(--theme-st-fgc-error);
    background-color: var(--theme-st-bgc-error);
}
.settings-dialog .error-message.active {
    display: block;
}


/* === global error messages === */

body > .error-message {
    display: block;
    margin: 1.75em;
    padding: 0.5em;
    border-radius: 3pt;
    border: 1px solid var(--theme-by-bdc-error);
    color:            var(--theme-by-fgc-error);
    background-color: var(--theme-by-bgc-error);
}


/* === print media queries === */

@media not print {
    /* nothing for now */
}

@media print {

    header {
        display: none;
    }

    main {
        overflow: visible;
    }

}
